* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    background-color: rgb(5, 4, 4);
    padding-bottom: 15px;

}

.row {
    background-image: url(./assets/galaxy.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 85px;
    margin: 10px;
    border-left: 500px;

}


.profimg {

    height: 200px;
    width: 200px;
    border-radius: 150px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./assets/galaxy.webp), url(./assets/galaxy.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

/* .top{
   
} */

.intro {
    /* padding: 10%; */
    margin: 0%;
    color: white;
    text-align: center;
    font-size: 50px;
    background-image: url(./assets/galaxy.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;

}


header nav {
    float: right;
    display: block;
    text-align: end;
    margin: -27px;
    flex-direction: row;
    padding-right: 30px;

}

header nav ul li {
    display: inline;
}


header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    color: white;
}

.column1 {
    float: left;
    width: 50%;
    /* padding: 80px; */
    padding-top: 80px;
    padding-left: 100px;
    height: 300px;
    line-height: 1.5;
    font-size: 18px;
}

.column2 {
    float: left;
    width: 50%;
    padding:80px;
    height: 300px;
    line-height: 1.5;
    font-size: 18px;
}


.gallery {
    height: 200px;
    width: 200px;
    padding-bottom: 50px;
    object-fit: cover;
    margin: 20px;
}

footer {
    font-size: 18px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 280px;
    background-image: url(./assets/galaxy.webp), url(./assets/galaxy.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%;
    align-content: center;
    grid-gap: 24px;
    margin: auto;
    display: flex;
}

footer a {
    color: white;
    /* background-color: white; */
    align-content: center;



}

main {
    background-color: rgb(5, 4, 4);
    margin: -10px;

}

.photos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-left: 80px;
}

#one :hover{
    opacity:1;
}
